{% extends "users/base.html" %}

{% block title %}about{% endblock %}

{% block body %}

<h1>We are in the About page.</h1>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis debitis delectus deleniti dignissimos
    exercitationem facere, impedit ipsa iure laboriosam magnam nemo nisi perferendis, placeat quam quasi similique, unde
    voluptatum.
</div>
<div>Ad commodi perferendis porro praesentium sequi! Accusamus alias asperiores consequuntur deserunt dolor dolore
    dolorem doloremque eaque fuga fugiat impedit laboriosam magni nihil numquam, perspiciatis possimus quaerat quod rem,
    suscipit ut?
</div>
<div>Aliquam, amet, blanditiis dignissimos dolore dolores dolorum error explicabo iusto maxime minus molestiae numquam
    obcaecati optio quos temporibus, ut veritatis! Culpa debitis fugit molestiae quas quisquam quod reiciendis rem
    temporibus!
</div>
<div>Ab animi, cupiditate ducimus, expedita explicabo illo ipsa natus nulla quasi quod rerum soluta tempora velit.
    Deserunt, id libero nihil odit placeat sunt voluptatem. At atque esse eveniet perferendis tenetur?
</div>

{% endblock %}h